body {
    background-color: rgb(45, 203, 210);
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 150px;
    margin: auto;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 10;
}   

.nav-menu {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    line-height: 80px;
    color: white;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.fit-img {
    max-width: 6%;
}

.description {
    font-size: 20px;
    color: white;
}

.calc {
    margin-top: 200px;
}

.calc_label {
    color: white;
}